<div id="bg"></div>
<div class="container">
  <mat-card class="login">
    <h1>UMS Login</h1>
    <form [formGroup]="loginForm">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Enter your userName</mat-label>
        <input
          matInput
          type="text"
          placeholder="Email / Username"
          formControlName="userName"
          required
        />
        <mat-error
          *ngIf="
            !loginForm.get('userName')?.valid &&
            (loginForm.get('userName')?.touched ||
              loginForm.get('userName')?.dirty)
          "
          >{{ userNameErrorMessage }}
        </mat-error>
        <mat-error *ngIf="loginForm.get('userName')?.hasError('required')"
          >This field is required</mat-error
        ></mat-form-field
      ><br />

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Enter your password</mat-label>
        <input
          type="password"
          matInput
          placeholder="Password"
          formControlName="password"
          required
        />
        <mat-error
          *ngIf="
            !loginForm.get('password')?.valid &&
            (loginForm.get('password')?.touched ||
              loginForm.get('password')?.dirty)
          "
          >{{ passwordErrorMessage }}
        </mat-error>
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')"
          >This field is required</mat-error
        >
        <mat-error *ngIf="loginForm.get('password')?.hasError('pattern')"
          >Must be your full name</mat-error
        > </mat-form-field
      ><br /><br />

      <button
        mat-raised-button
        color="primary"
        [disabled]="
          loginForm.get('userName')?.invalid &&
          loginForm.get('password')?.invalid
        "
        (click)="verifyLogin()"
      >
        Submit
      </button>
    </form>
  </mat-card>
</div>
